@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    min-height: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    background: #e8e3d0;
    overflow-x: hidden;
}

:root {
    --index: calc(1vw + 1vh)
        /*отношение ширины на высоту*/
}


h1 {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;

}

.article-title {
    text-align: center;
}

.article-body {
    display: block;
    height: 10vh;
    padding: 100px;
    text-align: center;
    border: 5px solid #ccc;
    border-radius: 15px;

}

h2 {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;

}

p {
    margin: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

img {
    margin: 0 auto;
    width: 30%;
    border-radius: 10px;
    display: block;
}

.container {
    width: 100%;
    max-width: 1300;
    padding: 0 20px;
    margin: 0 auto;
}

/* --header-- */

header {
    border: 5px solid #ccc;
    border-radius: 15px;
    color: #fff;
    background-color: aquamarine;
}

.header {
    padding: 30px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* height: 10vh; */
}

a {
    color: blue;
    text-decoration: none;
}

.navigation_list {
    display: flex;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
    margin-inline: auto;
}

.navigation_list{
    display: flex;
}

.navigation_item:not(:last-child) {
    margin-right: 35px;
}

.navigation_link {
    color: blue;
    opacity: 0.8;
    transition: all .25 linear;
    font-size: calc(var(--index)/1.2);
}

.navigation_link::before {
    margin-left: auto;
}

.navigation_link::after,
.navigation_link::before {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #2247ec;
    display: block;
    transition: 0.55;
}

.navigation_link:hover::after,.navigation_link:hover::before{
    width: 100%;
}
.link--active{
    color: #222326;
    font-weight: 600;
}

.header_navbar {
    justify-content: space-between;
    color: #fff;
    left: 0;
    width: 100%;
}

.main {
    margin: 10px;
    padding: 10px;
    min-height: 100vh;
    position: relative;
}

form {
    display: block;
    text-align: center;
    padding: 100px;
    text-align: center;
    border: 5px solid #ccc;
    border-radius: 15px;
}

input {
    padding: 5px;
    margin: 5px;
    width: 310px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}

button {
    padding: 5px;
    margin: 5px;
    width: 150px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;

}

footer {
    text-align: center;
    background-color: #abbaba;
    display: flex;
    justify-content: center;
    color: blue;
}

.footer {
    border: 5px solid #ccc;
    border-radius: 15px;
    height: 60px;
    display: flex;
    position: absolute;
    left: 0;
    bottom: auto;
    width: 100%;
    background-color: aquamarine;
}

a[href^='mailto']::before {
    content: '📧 ';
}

a[href^='tel']::before {
    content: '📞 ';
}