@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    display: block;
    background: var(--020-a-18, #020A18);
    /* border: saddlebrown 3px solid; */
}

img {
    display: block;
    max-width: 100%;
}

.container {
    display: block;
    width: 100%;
    margin: 0 auto;
    flex-shrink: 0;
    margin-left: 288px;
    margin-right: 207px;

    /* border: saddlebrown 3px solid; */
}

main {
    display: block;
}

header {
    /* border: saddlebrown 3px solid; */
    display: block;
    width: 100%;
    width: 1920px;
    height: 100px;
    flex-shrink: 0;
    margin-bottom: 82px;
    margin-top: 40px;
}

.article__header {
    /* border: saddlebrown 3px solid; */
    padding: 10px;
    display: flex;
    justify-content: center;
}

.article__item {
    padding: 10px;
    /* border: saddlebrown 3px solid; */
    width: 533px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.header a:hover {
    color: #f0a09d;
}

.header__link {
    font-family: 'Gilroy-Medium';
    font-size: 1.3rem;
    line-height: 16px;
    color: #1707f0;
}

section {
    display: block;
    /* border: saddlebrown 3px solid; */
}

.main_content {
    display: box;
    grid-column: 6;
    text-align: left;
    width: 500px;
    height: 530px;
    /* border: saddlebrown 3px solid; */
    margin-bottom: 197px;


}

.main__image {
    margin-left: 128px;
    width: 100px auto;
    /* border: saddlebrown 3px solid; */

}

.top__item {
    display: flex;
    /* border: saddlebrown 3px solid; */
}

h3 {
    text-align: left;
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}

.text_h3 {
    display: block;
    justify-content: center;
    text-align: start;
    font-size: 1.125em;
    color: #120ed4;
    padding-top: 35px;
    justify-self: start;
}

.text_h1 {
    display: block;
    font-family: Open Sans;
    font-size: 3.4375em;
    font-style: normal;
    color: #fff;
    padding-top: 35px;
    justify-self: start;

}

.text_p {
    display: block;
    color: #c2c2c2;
    font-size: 1.125em;
    text-align: left;
    padding-top: 35px;
}

.btn {
    display: -moz-grid-line;
    grid-column: 2;
    justify-self: start;
    font-size: 1.25rem;
    display: block;

}

.button {
    width: 140px;
    height: 50px;
    font-family: 'Gilroy-Bold';
    border-radius: 5px;
    color: #fff;
    background: #3A68B8;
    font-size: 15px;
    display: -moz-grid-line;
    grid-column: 2;
    grid-template-rows: auto;
    justify-self: start;
    margin-right: 15px;
    padding-top: 0 30px;
}

.button_icon {
    display: flexbox;
    padding-left: 3px;
    width: 17px;
    height: 16px;

}

.img_right {
    display: flexbox;
    /* border: saddlebrown 3px solid; */
}

.logo {
    /* border: saddlebrown 3px solid; */
    display: flex;

}

.img__logo:nth-child {
    /* border: saddlebrown 3px solid; */
    width: 217px;
    height: 58px;
    float: right;
}